header {
    display: flex;
    justify-content: flex-end;
    background-color: #4ABDAC;

    #links {
        margin-right: 1%;
        padding-top: 2%;
        ul {
            margin-bottom: auto;
            float: left;
            cursor: pointer;
        }

        ul:hover {
            color: white;
        }
    }
}