<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <!--Page Introduction-->
        <div id="my_name">
            <h1>Benjamin Clark</h1>
        </div>
        <div id="professional_image">
            <img src="../../assets/images/professional picture.jpg">
        </div>
        
        <!--About Section-->
        <div id="about">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Voluptatum ullam laudantium 
                ducimus nostrum dignissimos modi veritatis ex 
                minima quas omnis quasi, cumque expedita esse 
                error odio natus obcaecati culpa? Minus?</p>
        </div>

        <!--Experience Section-->
        <div id="experience">
            <h3>Experience</h3>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Voluptatum ullam laudantium 
                ducimus nostrum dignissimos modi veritatis ex 
                minima quas omnis quasi, cumque expedita esse 
                error odio natus obcaecati culpa? Minus?</p>
        </div>

        <!--Projects Section-->
        <div id="projects">
            <h3>Projects</h3>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Voluptatum ullam laudantium 
                ducimus nostrum dignissimos modi veritatis ex 
                minima quas omnis quasi, cumque expedita esse 
                error odio natus obcaecati culpa? Minus?</p>
        </div>

        <!--Contact Section-->
        <div id="contact">
            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Voluptatum ullam laudantium 
                ducimus nostrum dignissimos modi veritatis ex 
                minima quas omnis quasi, cumque expedita esse 
                error odio natus obcaecati culpa? Minus?</p>
        </div>
    </body>
    <footer>
        <app-footer></app-footer>
    </footer>
</html>
